body {
    background: #F5F7F9
}

#button {
    margin: 50px;
    padding: 18px 22px;
    border-radius: 8px;
    border: 1px solid #425DF8;
    background: #425DF8;
    color: #F6FDFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 18px; 
    letter-spacing: 0.72px;
    text-transform: uppercase;
}

div {
    margin-left: 50px;
    font-size: 28px;
}

#div {
    margin: 50px;
}